doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/css/style.css')
		script(src= '/scripts/script.js')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		main
			block header
				header.header
					img(src='images/logoResize.png' alt="Game Logo" class="center")
					h1 #{title}
			block nav
				nav.nav
					if isLoggedIn
						a(href=`/settings`)
							| #{username}
					a(href=`/`)
						| Home
			block content
				button(type="button" class="collapsible")
					| Open Collapsible
				div(class="content")
					p
						|Here you would have information about the player