doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 #{title}
      block nav
        a(href=`/config`)
          | Config
        a(href=`/login`)
          | Login
        a(href=`/social`)
          | Social
      block content