doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/css/style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		main
			block header
				header.header
					img(src='images/logoResize.png' alt="Game Logo" class="center")
					h1 #{title}
			block nav
				nav.nav
					if isLoggedIn
						a(href=`/settings`)
							| #{username}
						a(href=`/social`)
							| Social	
					if !isLoggedIn
						a(href=`/login-page`)
							| Login
					a(href='/glossary-page')
						| Glossary

			block content
				section(class = "news")
					ul
						li 
							| new patch released, 
							a(href='/news')
								| version 1.2 now available!!!
						li 
							| new patch released, 
							a(href='/news')
								| version 1.1 now available!!!
						li 
							| new patch released, 
							a(href='/news')
								| version 1.0 now available!!!

				section(class = "social")
					img(src='images/omanojaku1.png' alt="omanojaku art")
					p
						| "Inside this insidious world, players will find themselves surrounded by various hostile creatures that will try to take your soul. Each of them will have unique behaviors and specifications, make sure to pay a visit to our glossary to prepare yourself better for future encounters."
				section(class = "social")
					p
						| "In order to survive players will need to familiarize themselves with the character classes available that will grant them unique abilities. These abilities will enhance their chances of survival, as well as allow them to solve perplex scenarios and overcome all challenge presented to them."
					img(src='images/player01.png' alt= "playerModel art")

				section(class = "social")
					img(src='images/oiwa1.png' alt= "omanojaku art")
					p
						| "Not much about this world is known, only that it serves as a passage between the world of the living and the undead. Like some kind of limbo or a wicked version of  purgatory. Lost souls will wonder around with other unhuman creatures who are attracted by the activity and their unsatiable hunger. Make sure to check our glossary to know more about the lure of the game and the world around you."
					