doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/css/style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		main
			block header
				header.header
					img(src='images/logoResize.png' alt="Game Logo" class="center")
					h1 #{title}
			block nav
				nav.nav
					a(href=`/`)
						| Home
			block content
				form(action = '/logout', method = 'POST', class = 'left')
					button(value = 'Submit', type = 'submit', class = 'button')
						| Logout