@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    background-color: #000000;
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

header.img
{
    width: 100%;
    height: auto;
}

header h1
{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
	margin-top: 50px;
	-webkit-box-shadow: 0px 0px 20px 4px rgba(105,250,197,0.75);
	-moz-box-shadow: 0px 0px 20px 4px rgba(105,250,197,0.75);
	box-shadow: 0px 0px 20px 4px rgba(105,250,197,0.75);
}

nav
{
	background-color: #333;
	overflow: hidden;
	text-align: center;
}

.loginRegister
{
	display:grid;
    grid-template-columns: 200px 1fr;
	grid-gap: 16px;
	margin: 2rem auto 0 auto;
	max-width: 600px;
	padding: 1em;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(133,255,206,1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(133,255,206,1);
	box-shadow: 0px 0px 20px 0px rgba(133,255,206,1);
}

label
{
	grid-column: 1/2;
	padding:10px;
}
	 
input
{
	border:1px solid #000000;
	background:rgb(63, 61, 61);
	color:rgb(94, 255, 196);
	text-align:center;
}
	 
.button
{
	background: rgba(133,255,206,1);
	padding: 0.7em;
	width: 100%;
	border: 0;
	grid-column: auto;
	color: rgb(0, 0, 0);
	font-size: medium;
}



.login
{
	display:block;
	text-align: center;
	padding: 20px 20px;
	margin: 5px; 
	-webkit-box-shadow: 0px 0px 20px 0px rgba(133,255,206,1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(133,255,206,1);
	box-shadow: 0px 0px 20px 0px rgba(133,255,206,1);
}

.loginRegister
{
	padding-right: 10px;
}

nav a
{

	color: rgba(105,250,197,0.75);
	text-align: center;
	padding: 20px 20px;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover
{  
	background-color: #ddd;
	color: black;  
}

nav a:active
{
	background-color: #4CAF50;
  	color: white;
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul
{
	list-style:none;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
	background-color:rgba(189,255,231,1) ;
	padding: 1rem 0rem;
}

li
{
	text-align:center;
	color: #000000;
	font-style: bold;
	font-size: medium;
	margin: 0.5rem 0rem;
}

p
{
	padding: 25px;
	margin: 25px;
	text-align: justify;
	display: flex;
	align-items: center;
}

.left
{
	margin: 15px;
	display: flex;
	justify-content: space-between;
	-webkit-box-shadow: 0px 0px 20px 10px rgba(189,255,231,1);
	-moz-box-shadow: 0px 0px 20px 10px rgba(189,255,231,1);
	box-shadow: 0px 0px 20px 10px rgba(189,255,231,1);
}

.left img
{
	width:10rem;
	height: auto;
	float: left;
}

.right
{
	margin: 15px;
	display: flex;
	justify-content: space-between;
	-webkit-box-shadow: 0px 0px 20px 10px rgba(189,255,231,1);
	-moz-box-shadow: 0px 0px 20px 10px rgba(189,255,231,1);
	box-shadow: 0px 0px 20px 10px rgba(189,255,231,1);
}

.right img
{
	width:10rem;
	height: auto;
	float: right;
}

h3.errorMessage
{
	text-align: center;
	font-size: 20px;
	padding: 10px;
	margin:10px;
}

@media only screen and (max-width: 768px) 
{
	.loginRegister 
	{
		grid-template-columns: 100px 1fr;
		font-size: small;
		grid-gap: 16px;
	}

	.left img
	{
		width:10rem;
	}

	p
	{
		font-size: x-small;
		padding: 2px;
	}

	header h1
	{
		margin-top: 20px;
	};

	.right img
	{
		width:10rem;
	}
}

@media only screen and (min-width: 768px) 
{
	.loginRegister 
	{
		grid-template-columns: 250px 1fr;
		grid-gap: 16px;
	}
	
	label 
	{
		font-size: large;
		text-align: right;
		grid-column: 1 / 2;
	}
	
	button 
	{
		grid-column: 2 / 3;
	}
	
	.left img
	{
		width:15rem;
	}

	p
	{
		font-size: large;
	}

	.right img
	{
		width:15rem;
	}
}

@media only screen and (min-width: 920px) 
{
	.left img
	{
		width:30rem;
	}

	p
	{
		padding:50px;
		font-size: x-large;
	}

	.right img
	{
		width:30rem;
	}
}